.signup_page {
  background-image: url("../../assets/img/homebg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .signup_form {
    background-color: #ffffff23;
    // box-shadow:0px 8px 32px 0;
    border-radius: 8px;
    padding: 100px 100px 180px 100px;

    h1 {
      color: #ffffff;
      margin-bottom: 20px;
    }
    h3 {
      color: #ffffff;
      font-weight: 400;
      border: none;
    }
    .ant-input {
      color: #ffffff !important;
    }

    span.ant-input-affix-wrapper {
      background-color: transparent;
      border: none;
    }
    .ant-input-prefix {
      color: #ffffff;
    }
    .ant-form-item-control-input {
      width: 120%;
      border-bottom: 1px solid #ffffff;
    }
    .ant-input-affix-wrapper > input.ant-input {
      height: 65%;
      background-color: transparent;
      //   color: #ffffff !important;
    }

    .ant-btn-primary.signup_form {
      background-color: #ff4d4f;
      width: 120%;
      padding: 5px 10px;
    }
    a {
      text-decoration: none;
      color: #fff;

      &:hover {
        color: #ff4d4f;
      }
      //   span {
      //     margin: 2px;
      //   }
    }
  }
}
.input-text {
  ::placeholder {
    color: #ffffff;
    align-items: center;
  }
}
