.slidercards{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    // width:100%;

    
}






.movieCard{
    background-color: transparent;
    .ant-card-cover{
        img{
            border-radius: 8px;
        }
    }
    .ant-card-body{
        padding: 0;
        .ant-card-meta-title{
            color:white;
            text-align: start;
            font-size: 20px;
            margin-top:18px;
            line-height: 1;
        }
        .ant-card-meta-description{
            color: gray;
            text-align: start;
        }
    }
}